footer {
	margin-top: 26%;
}

.button {
	margin-top:20px; 
}

.margin {
	margin-top:30px;

}

.username {
    margin-top:40px;
    margin-bottom: -15px;
	font-weight: 400;
}

.down {
	padding-bottom: 15%;
}

img{
	margin-bottom:20px;
}

.publish-button { 
float: right; 
}
.search-btn {
	margin-bottom:10px;
	margin-top:-1px;
}